.main-info {
  margin-top: 1.5rem;
  padding-right: 5rem;
  h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 1.25rem;
  }
  p {
    padding-top: .25rem;
  }

  @media all and (max-width: 414px) {
    padding-right: 0;
  }
}

.technologies {
  transition: .3s;
  &--dark {
    filter: invert(1);
  }
}

.technology {
  height: 4rem;
  margin: .5rem 1rem 0 0;
}